<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quasi
      nesciunt reprehenderit iusto, veritatis veniam distinctio provident
      voluptates fugiat natus.
    </p>
  </header>
  <div style="width: 30%" class="card card--secondary">
    <header class="card__header">Card header</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis,
      ipsum?
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quasi
      nesciunt reprehenderit iusto, veritatis veniam distinctio provident
      voluptates fugiat natus.
    </p>
  </div>
</section>
