<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quae
        illo nostrum atque quia suscipit saepe, accusamus debitis magni dolorum!
      </p>
    </div>
    <!-- <button class="btn btn--primary"><a href=""></a></button> -->
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
